<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/formulario/guardargetpost/" method="get">
        <label for="">codigo</label><input name="txtCodigo" type="text">
        <label for="">nombre</label><input name="txtNombre" type="text">
        <label for="">precio</label><input name="txtPrecio" type="text">
        <input type="submit" value="Guardar">
    </form>
</body>
</html>